<div>
    <img src="https://media.istockphoto.com/id/492696926/photo/wood-mouse-on-root-of-tree.jpg?s=2048x2048&w=is&k=20&c=7c_JndsLR7YK90rCiG_l7j444fE8bC1O7NL112c7sDY=" alt="">
    <h2>Computer_mouse</h2>
    <h3>{{3000 |currency}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quidem necessitatibus labore, delectus iusto veritatis suscipit nostrum voluptatibus! Aperiam possimus culpa eius veritatis reiciendis corrupti rem nostrum aspernatur voluptate aut.</p>
    
</div>