<div>
    <div *ngIf="this.products.length; else noproducts">
        <div *ngFor="let product of products">
            <img src={{product.image}} alt="${this.product.productName}">
            <h2>{{product.name}}</h2>
            <h3>{{product.price |currency}}</h3>
            <p>{{product.description | short:20}}</p>
        </div>

    </div>
 <!-- <button (click)="deleteProduct(product.id)">delete</button>  -->
</div>
<ng-template #noproducts>
    <p>NO PRODUCTS AVAILABLE!!!</p>
</ng-template>